--- 
layout: categoria
lang: en
categoria: tratamientos-faciales_es
ref: tratamientos-faciales
hero: "img/tratamiento-rejuvenecimiento-facial.avif"
hero1: "img/centro-medicina-estetica-doctora-tatiana-leal.avif"
title: "Dra. Tatiana Leal | Especialista en medicina estética y láser"
h1: "Rejuvenecimiento facial con láser"
description: "Una innovación para tu piel"

---
<main class="padding">
  <div class="center intro">
    <small>Dra.Tatiana Leal</small>
    <h2>Lorem ipsum dolor sit amet.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque efficitur, quam vitae interdum lobortis, ipsum risus placerat velit, non semper arcu ligula nec velit. Sed semper, nunc a eleifend rutrum, nunc massa dignissim velit, a consectetur neque nunc et justo.</p>
  </div>
  
  <div class=" padding">
    {% for item in site[page.categoria] %}
    <div class="two_columns">
      <img src="{{ item.hero | relative_url }}" width="476" height="570" alt="{{item.alt}}" loading="lazy" title="{{item.title}}">
      <img src="{{ item.hero1 | relative_url }}" width="476" height="570" alt="{{item.alt}}" loading="lazy" title="{{item.title}}">
      <div>
        <h3>{{item.h1}}</h3>
        <p>{{item.excerpt}}</p>
        <a href="#" class="boton boton_principal" id="lead_whatsapp"
        title="{% if page.lang == 'es' %}WhatsApp de Tatiana Leal{% else %}Tatiana Leal's WhatsApp{% endif %}">
        {% if page.lang == "es" %}
        ver más...
        {% else %}
        See more...
        {% endif %}
      </a>
      </div>
    </div>
    {% endfor %}
  </div>
</main>