---
layout: servicios
lang: en
ref: rejuvenecimiento-facial
hero: "img/tratamiento-rejuvenecimiento-facial.avif"
hero1: "img/centro-medicina-estetica-doctora-tatiana-leal.avif"
title: "Dra. Tatiana Leal | Especialista en medicina estética y láser"
h1: Tensor threads, rejuvenate your face, eliminate wrinkles and facial flaccidity.
description: Have your Thread Lift cosmetic procedure with Dr. Tatiana Leal.
class: "two_columns_left"
excerpt: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque efficitur, quam vitae interdum lobortis,
ipsum risus placerat velit,"
---

<section class="block_section">
  <div class="block-section">
    <small class="block_section_header">THREAD LIFT TREATMENTS</small>
    <h2 class="block_section_title">How is the thread lift application process carried out?</h2>
    <ol class="block_section_content">
      <li>We will conduct an initial consultation and evaluation where you will share your goals, and we will answer all your questions about the procedure.</li>
      <li>We will carefully study and mark the insertion points in the area you want to improve.</li>
      <li>Once these steps are completed, we will apply local anesthesia to begin the procedure.</li>
      <li>We insert the thread lifts using special cannulas.</li>
      <li>Finally, we adjust and secure the threads to ensure everything is perfect.</li>
    </ol>
    <h3 class="block_section_content">Would you like more information, such as the price of thread lifts?</h3>
    <p class="block_section_content">
      If you have any questions or would like more details about how thread lift treatments work, their cost, or potential risks, contact me now. I’ll be happy to assist you.
      <a href="#" class="boton boton_auxiliar">Schedule your appointment now</a>
    </p>
  </div>
  <div class="block_section_image_left" style="background-image: url('/img/limpieza-facial-profunda.avif');"></div>

  <div class="block_section_knowledge flow padding">
    <h3>Advantages</h3>
    <ul>
      <li>Reduction of wrinkles and fine lines.</li>
      <li>Improved skin texture.</li>
      <li>Treatment of spots and pigmentation.</li>
      <li>Reduction of scars.</li>
      <li>Treatment of visible blood vessels.</li>
      <li>Non-surgical procedure.</li>
      <li>Long-lasting results.</li>
    </ul>
  </div>
  <div class="block_section_image_right "
    style="background-image: url('/img/limpieza-facial-con-la-doctora-tatiana-leal.avif');"></div>
</section>
<section class="padding">
  <div class="intro flow">
    <small>Advantages of Thread Lifts</small>
    <h2 class="center">Benefits of Facial Thread Lift Treatments</h2>

    <p>
      By undergoing your facial treatment with Dr. Tatiana Leal, you will enjoy:</p>
    <ul>
      <li> <strong>Immediate lifting effect: </strong>With visible results from the first session.</li>
      <li> <strong>Collagen stimulation:</strong>Improving the texture and firmness of your skin over time.</li>
      <li> <strong>A minimally invasive procedure: </strong>With fewer risks than traditional surgery.</li>
      <li> <strong>Quick recovery:</strong>You can resume your daily activities almost immediately.</li>
    </ul>
    <p>Eliminate sagging in cheeks and jawline, expression lines, wrinkles, nasolabial folds, and excess chin and neck fat once and for all.</p>
    <p class="seccion">
      💡Both thread lifts and bio-stimulators can be applied to the face, neck, and body areas prone to sagging, such as arms, inner thighs, and abdomen.
    </p>
  </div>
</section>
<section class="img-bgr text-container-end"
  style="background-image: url('/img/limpieza-facial-profunda-en-bogota.avif');">
  <div class="hero-content flow intro">
    <h2 class="center">What is the cost of thread lift treatments in Colombia?</h2>
    <p>The cost of facial thread lifts may vary depending on different factors, but in general, this facial treatment ranges between 1,360,000 and 1,500,000 Colombian pesos.</p>
    <p>If you want to know the exact price of your personalized treatment, schedule a consultation, and we will help you find the price that best suits your needs.</p>
    <a href="#" class="boton boton_principal" id="lead_whatsapp"
      title="{% if page.lang == 'es' %}WhatsApp de Tatiana Leal{% else %}Tatiana Leal's WhatsApp{% endif %}">
      {% if page.lang == "es" %}
      Schedule your appointment now
      {% else %}
      Schedule your appointment now
      {% endif %}
    </a>
  </div>
</section>
<section class="padding">
  <div class="service-cards">
    <div class="card">
      <div class="card-icon">
        <img src="{{ 'img/limpieza-facial-profunda-en-bogota.avif' | relative_url }}" width="100" height="100"
          fill="var(--color-main)">
        </img>
      </div>
      <h3>Face</h3>
    </div>
    <div class="card">
      <div class="card-icon">
        <img src="{{ 'img/limpieza-facial-profunda-en-bogota.avif' | relative_url }}" width="100" height="100"
          fill="var(--color-main)">
        </img>
      </div>
      <h3>Neck</h3>
    </div>
  </div>
</section>
<section class=" intro flow">
<h2 class="center">Why is Thread Lift Treatment with Tatiana Leal Different?</h2>
<p>Unlike other rejuvenation treatments, <strong>we deliver long-lasting and remarkable results to your skin without the need for surgery.</strong> You won’t have to worry about long recovery times or unnatural, “fake-looking” results.</p>
<p>You’ll receive a <strong>personalized service where I will listen to you and offer the best solutions</strong> tailored to your needs.</p>
</section>
<section class="intro padding flow center">
  <div>
    <h2 class=""> Before and After Thread Lifts in Our Patients</h2>
  <div class="two_columns">
    <div>
      <h2>Thread Lifts for Your Face</h2>
      <img src="{{ 'img/limpieza-facial-profunda-en-bogota.avif' | relative_url }}" width="400" height="400">
    </div>
    <div>
      <h2>Thread Lifts for Your Neck</h2>
      <img src="{{ 'img/limpieza-facial-profunda-en-bogota.avif' | relative_url }}" width="400" height="400">
    </div>
  </div>
  <a href="#" class="boton boton_principal" id="lead_whatsapp"
      title="{% if page.lang == 'es' %}WhatsApp de Tatiana Leal{% else %}Tatiana Leal's WhatsApp{% endif %}">
      {% if page.lang == "es" %}
      Schedule your appointment now
      {% else %}
      Schedule your appointment now
      {% endif %}
    </a>
  </div>
</section>

<section class="text-container img-bgr text-container-center"
  style="background-image: url('/img/centro-medicina-estetica-doctora-tatiana-leal.avif');">
  <div class="intro">
    <small> Dr. Tatiana Leal </small>
    <h2>Perfecting the Reflection of Your Inner Beauty</h2>
  </div>
</section>
<!-- Accordion -->
<section class="padding">
  <div class="content flow">
    <h2 class="center">Frequently Asked Questions About Thread Lift Procedures</h2>
    <div class="accordion">
      <div>
        <input type="checkbox" id="question1" class="accordion-toggle">
        <label for="question1" class="accordion-header">How long does the facial thread lift procedure take?</label>
        <div class="accordion-content">
          <p>
            The procedure generally takes between 20 and 40 minutes, depending on the number of threads and the areas to be treated.
          </p>
        </div>
      </div>
      <div>
        <input type="checkbox" id="question2" class="accordion-toggle">
        <label for="question2" class="accordion-header">Is the facial thread lift treatment painful?</label>
        <div class="accordion-content">
          <p>
            The procedure is performed under local anesthesia, which minimizes discomfort. Some patients may experience a slight feeling of tightness or pressure during the procedure, but it is generally not considered very painful.
        </div>
      </div>
      <div>
        <input type="checkbox" id="question3" class="accordion-toggle">
        <label for="question3" class="accordion-header">How long do the results of facial thread lifts last?</label>
        <div class="accordion-content">
          <p>
            Results from facial thread lifts usually last between 12 and 18 months. However, this may vary depending on the type of threads used, the patient’s skin quality, and post-treatment care.
          </p>
        </div>
      </div>
      <div>
        <input type="checkbox" id="question3" class="accordion-toggle">
        <label for="question3" class="accordion-header">What is the recovery time after thread lift application on the face?</label>
        <div class="accordion-content">
          <p>
            Most patients can resume normal activities after 24–48 hours. However, it is recommended to avoid intense exercise and facial treatments for at least a week.
          </p>
        </div>
      </div>
      <div>
        <input type="checkbox" id="question3" class="accordion-toggle">
        <label for="question3" class="accordion-header">Are there any common side effects after a facial thread lift treatment?</label>
        <div class="accordion-content">
          <p>
            The most common side effects are mild swelling, redness, and a feeling of tightness. These effects are temporary and resolve within a few days.
          </p>
        </div>
      </div>
      <div>
        <input type="checkbox" id="question3" class="accordion-toggle">
        <label for="question3" class="accordion-header">Will the thread lifts be noticeable under my skin?</label>
        <div class="accordion-content">
          <p>
            Thread lifts are designed to be invisible once placed. In rare cases, individuals with very thin skin may feel them slightly to the touch, but they are not visible.
          </p>
        </div>
      </div>
    </div>
    <a href="#" class="boton boton_principal" id="lead_whatsapp"
        title="{% if page.lang == 'es' %}WhatsApp de Tatiana Leal{% else %}Tatiana Leal's WhatsApp{% endif %}">
        {% if page.lang == "es" %}
        Schedule your appointment now
        {% else %}
        Schedule your appointment now
        {% endif %}
      </a>
  </div>
</section>
