{% assign lang = page.lang | default: site.lang | default: "es" %}
{% assign data_file = include.data_file %}
{% assign row_key = include.row %}
{% assign treatments = site.data[lang][data_file][row_key] %}
<div class="gallery-container">
  {% for item in treatments limit:4 %}
    <div class="gallery-item">
      <img src="{{ item.img | relative_url }}" alt="{{ item.alt }}" loading="lazy" width="520" height="780">
      <h4 class="gallery-item-text">{{ item.title }}</h4>
    </div>
  {% else %}
    <p>No se encontraron elementos para mostrar.</p>
  {% endfor %}
</div>
