
{% assign posts = site.posts | where: "lang", page.lang %}

<section id="blog-posts" class="service-cards">
  {% for post in posts %}
  <div class="card flow" style="display: none">
    <div class="card-image">
      <img src="{{ post.hero | relative_url }}" alt="{{ post.alt }}" loading="lazy">
    </div>
    <div class="card-content">
      <h3>{{ post.title }}</h3>
      <p>{{ post.excerpt | truncate: 144 }}</p>
      <a href="{{ post.url | relative_url }}" class="boton">
        {% if page.lang == "en" %}Read more{% else %}Leer más{% endif %}
      </a>
    </div>
  </div>
  {% endfor %}
</section>

<div class="pagination center padding-top">
  <button class="boton" id="prev-page">
    {% if page.lang == "en" %}Previous{% else %}Anterior{% endif %}
  </button>
  <div id="page-numbers" class="pagination-numbers"></div>
  <button class="boton" id="next-page">
    {% if page.lang == "en" %}Next{% else %}Siguiente{% endif %}
  </button>
</div>