/* BREADCRUMBS */

#breadcrumbs {
  font-family: var(--fuenteTitulos);  
  padding: 20px;
  max-width: max-content;
}

#breadcrumbs .small{
  display: flex;
  flex-wrap: wrap;

  li{
    margin: 0;
    list-style: none;
    font-size: 16px;
    
    &::after{
      content: '/';
    }
    
    a{
      color: var(--accion);
      font-size: 16px;
    }
  }
}

.articulo{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  }

.articulo article{
  position: relative;
  max-width: 100%;
  flex: 1 0 min(100%, 580px);
}

.articulo article h2,
.articulo article h3{
  margin: 2rem 0;
}

.articulo article li{
  margin-bottom: 1.2em;
}

.articulo img{
  border-radius: var(--radius);
}

.articulo article a:not(.boton){
  color: var(--accion);
  text-decoration: underline 3px;
  transition: ease-in-out 0.5s;
  font-weight: 700;
}

.articulo aside{
  position: sticky;
  top: 80px;
  flex: 1;
  padding: 2em 16px;
  text-align: center;
  border: 1.6px solid var(--acento);
  border-radius: var(--radius);
  height: max-content;
  display: grid;
  gap: 32px;
  margin-bottom: 2em;
  background-color: var(--gris1);
  box-shadow: var(--shadow);
}

#markdown-toc{
  padding: 4em 0;
  background-color: var(--gris1);
  box-shadow: 0 0 0 100vmax var(--gris1);
  clip-path: inset(0 -100vmax);

  li a{
    color: var(--principal);
    font-size: 16px;
  } 
}