.block_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "header header image-right"
    "title title image-right"
    "content content image-right"
    "image-left knowledge image-right";
}

.block_section_header {
  grid-area: header;
  padding: 6em 2rem 0;
}

.block_section_title {
  grid-area: title;
  padding: 0 2rem;
  margin: 2rem 0;
  font-family: var(--fuenteTitulos);
  letter-spacing: -.01em;
  line-height: 1.1;
}

.block_section_content {
  grid-area: content;
  padding: 0 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: start;
}

.block_section_image_left { grid-area: image-left; }
.block_section_knowledge { grid-area: knowledge; }
.block_section_image_right { grid-area: image-right; }

.block_section_image_left,
.block_section_image_right{
  object-fit: cover;
  min-height: 100%;
  width: 100%;
}

.block_section_knowledge {
  background-color: var(--principal);
  background-image: url("https://www.transparenttextures.com/patterns/navy.png");
  color: #ffffff;
  padding: 6em 2rem 3rem;
  
  li::marker, h2{
    color: #fefefe;
  }
}

.block_section_title {
  font-weight: bold;
  font-family: var(--fuenteTitulos);
}

.block_section_content, .block_section_knowledge {
  line-height: 1.6;
}

.cta{
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  box-shadow: var(--shadow);
}

.cta h2{
  position: absolute;
  left: 50%;
  top: 50%;
  width: min(100%, 720px);
  font-weight: 700;
  text-align: center;
  font-family: var(--fuenteTexto);
  text-transform: uppercase;
  font-size: 3em;
  transform: translateY(25%);
  transform: translateX(-50%);
  color: var(--gris1);
}

.bloque_doble{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  
  & div{
    flex: 1 0 320px;
    min-height: 450px;
  }
}