.cta h2{
  position: absolute;
  left: 50%;
  top: 50%;
  width: min(100%, 720px);
  font-weight: 700;
  text-align: center;
  font-family: var(--fuenteTexto);
  text-transform: uppercase;
  font-size: 3em;
  transform: translateY(25%);
  transform: translateX(-50%);
  color: var(--gris1);
}
