.navegacion .boton:last-child {
  margin: 0;
  padding: 12px 24px;
}

.buscador:target {
  display: grid;
}

.cerrar:target .buscador {
  display: none;
}

nav .icono-nav .line {
  width: 32px;
  height: 4px;
  background-color: var(--principal);
  margin: 4px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
