:root {
  --principal: #002e51;
  --accion: #cfbaa3;
  --secundario: #82a7c1;
  --complemento: #004070;
  --acento: #002e513f;
  --gris1: #eeeeee;
  --gris2: #8c8c8c;
  --grisTexto: #111313;
  --shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  --radius: 28px;
  --radius-cards: 12px;
  --fuenteTitulos: "Lexend Deca", sans-serif;
  --fuenteTexto: "DM Sans", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
  scroll-padding-top: 8em;
}

body {
  color: var(--grisFuentes);
  font-family: var(--fuenteTexto);
  background-color: #fefefe;
  width: min(100%, 1920px);
  margin-inline: auto;
  box-shadow: var(--shadow);
}

h1,
h2,
h3,
h4 {
  font-family: var(--fuenteTitulos);
  text-transform: initial;
  line-height: 1.2;
  max-width: 732px;
}

h1 {
  font-size: clamp(2rem, 1.5rem + 1vw, 2.5rem);
  margin: 0;
  font-weight: 700;
}

h2 {
  font-size: clamp(1.75rem, 1.3rem + 0.7vw, 2.25rem);
}

h3 {
  font-size: clamp(1.5rem, 1.2rem + 0.5vw, 2rem);
}

h4 {
  font-size: clamp(1.375rem, 1.1rem + 0.4vw, 1.75rem);
}

p,
a,
li {
  word-wrap: break-word;
  font-size: clamp(1.125rem, 1rem + 0.2vw, 1.5rem);
  max-width: 70ch;
}

a {
  color: var(--accion);
  text-decoration: underline;
  text-decoration-thickness: 3px;
  font-weight: 700;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

a:hover {
  color: var(--secundario);
}

small {
  color: #666;
  font-size: 16px;
  margin-bottom: 1em;
}

img {
  border-style: none;
  max-width: 100%;
}

li {
  margin-left: 2em;
}

ol li {
  margin-left: 3em;
  list-style: decimal;
}

::marker {
  font-size: 2rem;
  color: var(--principal);
  font-family: var(--fuenteTitulos);
}

blockquote {
  position: relative;
  border: 2.4px solid var(--secundario);
  border-radius: var(--radius);
  padding: 1em;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  box-shadow: var(--shadow);
  text-align: center;
}

blockquote .boton {
  margin-top: 1em;
}

table {
  width: 100%;
  margin: 2em 0 4em;
}

table tr {
  border-bottom: 2px dotted var(--gris1);
  display: flex;
  padding: 1.2em 0;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
}

table tr:nth-child(even) {
  background-color: var(--gris1);
}

table th {
  font-weight: 900;
}

table td,
table th {
  flex: 1 0 200px;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.wrapper {
  width: min(calc(100% - 1.5em), 1128px);
  margin-inline: auto;
  padding: 4rem 0;
}

.content {
  width: min(calc(100% - 1.5em), 1128px);
  margin-inline: auto;
}

.flow > * + *:not(h1) {
  margin-top: 1.2em;
}

.padding {
  padding: 6rem 2rem 3rem;
}

.seccion {
  background-color: var(--gris1);
}

.boton {
  display: inline-block;
  text-decoration: none;
  padding: 16px 24px;
  font-size: 18px;
  font-weight: 700;
  border-radius: var(--radius);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.boton:hover {
  background-color: var(--secundario);
  box-shadow: 0px 15px 20px rgba(207, 186, 163, 0.388);
  transform: scale(1.025);
  color: white;
}

.boton:active {
  transform: translateY(-1px);
}

.boton_principal {
  border: none;
  color: var(--principal);
  background-color: var(--accion);
}

.boton_auxiliar {
  color: var(--principal);
  background-color: #fff;
  border: solid 2px var(--accion);
}

.intro {
  width: 100%;
  display: grid;
  place-items: center;
  text-align: center;
}

.two_columns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3em;
  justify-content: space-around;
  height: min-content;

  & > div {
    flex: 1 0 200px;
    max-width: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .two_columns-image{
    line-height: 0;
  }
}
.two_columns_left {
  flex-direction: row-reverse;
}

.three_columns {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 4em;

  & > div {
    position: relative;
    width: min(100%, 276px);
    text-align: center;
    display: grid;
    place-items: center;
    border-radius: var(--radius-cards);
    overflow: hidden;

    img {
      transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    img:hover {
      transform: scale(1.015);
    }

    h4 {
      font-size: 24px;
      max-width: 296px;
      margin: 0;
    }
  }
}

.icons {
  max-width: 180px;
}

.parallax{
  position: relative;

  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}